<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영등포역 맛집</title>
    <style>
        td, th {padding: 2px; text-align: center;}
    </style>
</head>
<body style="margin: 40px;">
    <h3>영등포역 맛집</h3>
    <hr>
    <table border="1">
        <tr>
            <th>이미지</th>
            <th>업소명</th>
            <th>평점</th>
            <th>메뉴</th>
            <th>주소</th>
            <th>전화번호</th>
        </tr>
        {% for song in song_list %}
            <tr>
                <td><img src="{{food.이미지}}" height="32"></td>
                <td>업소명</td>
                <td>평점</td>
                <td>메뉴</td>
                <td>주소</td>
                <td>전화번호</td>
            </tr>
    </table>
    
</body>
</html>